body{
    margin: 0;
    overflow: hidden;
    text-align: center;
}
#root{
  height: 100vh;
  width: 100vw;
}
#pause{
  position: absolute;
  top: 45vh;
  left: 45vw;
  border: 2px solid black;
}
#control{
  position: absolute;
  border: 2px solid black;
  width: 100vw;
  height: 100px;
}
