body{
    margin: 0;
    overflow: hidden;
    text-align: center;
}
#root{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}
#pause{
  position: absolute;
  top: 45vh;
  left: 45vw;
  border: 2px solid black;
  z-index: 4;
}
#control{
  position: relative;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  opacity: 0.8;
}

#skill{
  position: absolute;
  top: 0;
  left: 0;
  border: 2px black solid;
  width: 10vw;
  height: auto;
}
#ranking{
  position: absolute;
  top: 0;
  right: 0;
  border: 2px black solid;
  width: 25vw;
  height: 25vw;
}

#bar{

}

#hp_bar{
  width: 40vw;
  height: 4vh;
  z-index: 2;

  border: 1px black solid;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#reload_bar{
  width: 40vw;
  height: 4vh;
  z-index: 2;

  border: 1px black solid;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
